.BLK-Text-15,.BLUE-TITLE-REG-15
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Burgundy-Header-Bold-20,.Process-bold
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.CONTACT-BLUE-PT18
{
	font-family: dosis-n3, sans-serif;
}

#u3226-4
{
	font-family: dosis-n5, sans-serif;
}

#u3227-4
{
	font-family: dosis-n5, sans-serif;
}

#u3228-4
{
	font-family: dosis-n5, sans-serif;
}

#u3229-4
{
	font-family: dosis-n5, sans-serif;
}

#u3230-4
{
	font-family: dosis-n5, sans-serif;
}

#u3231-4
{
	font-family: dosis-n5, sans-serif;
}

#u3237-2,#u13819-11,#u3240-5,#u3240-7,#u3240-9,#u3240-11,#u3240-13,#u3240-15,#u3240-17,#u3240-19,#u3240-21,#u3240-23,#u3240-25,#u13830-6,#u13830-8,#u13830-10,#u13830-12,#u13830-13,#u13830-15,#u13830-17,#u13830-19,#u13830-21,#u13830-22,#u13830-24,#u13830-26,#u13830-28
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u3236-4,#u13819,#u3240,#u3240-2,#u13830,#u9572-4,#u17647-7,#u18315-4
{
	font-family: dosis-n2, sans-serif;
}

