.BLK-Text-15,.BLUE-TITLE-REG-15
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Burgundy-Header-Bold-20,.Process-bold
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.CONTACT-BLUE-PT18
{
	font-family: dosis-n3, sans-serif;
}

#u19386-4
{
	font-family: dosis-n3, sans-serif;
}

#u19387-4
{
	font-family: dosis-n3, sans-serif;
}

#u19388-4
{
	font-family: dosis-n3, sans-serif;
}

#u19389-4
{
	font-family: dosis-n3, sans-serif;
}

#u19390-4
{
	font-family: dosis-n3, sans-serif;
}

#u19391-4
{
	font-family: dosis-n3, sans-serif;
}

#u2772-4
{
	font-family: dosis-n3, sans-serif;
}

#u3090.PamphletThumbSelected #u3091-4 p,#u3078-4,#u3046-4,#u3068-4,#u3060-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u3072-4,#u3073-6,#u3076-4,#u3053-4,#u3047-4,#u3047-6,#u3047-9,#u3048-6,#u3048-7,#u3048-9,#u3048-11,#u3048-13,#u3048-15,#u3049-6,#u3049-8,#u3063-4,#u3070-4,#u3070-6,#u3065-4,#u3065-6,#u3065-7,#u3064-2,#u3055-4,#u3058-4,#u3087-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u3091-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u3093-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u3089-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u10864-4,#u17625-7
{
	font-family: dosis-n2, sans-serif;
}

