.BLK-Text-15,.BLUE-TITLE-REG-15
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Burgundy-Header-Bold-20,.Process-bold
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.CONTACT-BLUE-PT18
{
	font-family: dosis-n3, sans-serif;
}

#u19380-4
{
	font-family: dosis-n3, sans-serif;
}

#u19381-4
{
	font-family: dosis-n3, sans-serif;
}

#u19382-4
{
	font-family: dosis-n3, sans-serif;
}

#u19383-4
{
	font-family: dosis-n3, sans-serif;
}

#u19384-4
{
	font-family: dosis-n3, sans-serif;
}

#u19385-4
{
	font-family: dosis-n3, sans-serif;
}

#u8716-4,#u8757-4,#u8769-4,#u8781-4,#u8793-4,#u8805-4,#u8833-4,#u8853-4,#u8889-4,#u8865-4,#u8877-4,#u17952-4
{
	font-family: dosis-n3, sans-serif;
}

#u18570-8
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u18572-4.MuseLinkActive p,#u18572-4.MuseLinkActive span
{
	font-family: dosis-n5, sans-serif;
}

#u18571-4,#u18572-4
{
	font-family: dosis-n4, sans-serif;
}

#u18573-4
{
	font-family: dosis-n4, sans-serif;
}

#u13408-6,#u17509-7,#u18574-4
{
	font-family: dosis-n2, sans-serif;
}

