.BLK-Text-15,.BLUE-TITLE-REG-15
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Burgundy-Header-Bold-20,.Process-bold
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.CONTACT-BLUE-PT18
{
	font-family: dosis-n3, sans-serif;
}

#u14998-10,#u17677-9,#u18312-4
{
	font-family: dosis-n2, sans-serif;
}

#u19368-4
{
	font-family: dosis-n3, sans-serif;
}

#u19369-4
{
	font-family: dosis-n3, sans-serif;
}

#u19370-4
{
	font-family: dosis-n3, sans-serif;
}

#u19371-4
{
	font-family: dosis-n3, sans-serif;
}

#u19372-4
{
	font-family: dosis-n3, sans-serif;
}

#u19373-4
{
	font-family: dosis-n3, sans-serif;
}

