.BLK-Text-15,.BLUE-TITLE-REG-15
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Burgundy-Header-Bold-20,.Process-bold
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.CONTACT-BLUE-PT18
{
	font-family: dosis-n3, sans-serif;
}

#u19380-4
{
	font-family: dosis-n3, sans-serif;
}

#u19381-4
{
	font-family: dosis-n3, sans-serif;
}

#u19382-4
{
	font-family: dosis-n3, sans-serif;
}

#u19383-4
{
	font-family: dosis-n3, sans-serif;
}

#u19384-4
{
	font-family: dosis-n3, sans-serif;
}

#u19385-4
{
	font-family: dosis-n3, sans-serif;
}

#u18595-8
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u18596-4,#u18597-4,#u18598-4
{
	font-family: dosis-n4, sans-serif;
}

#u13892-4,#u18599-4
{
	font-family: dosis-n3, sans-serif;
}

#u13409-6,#u17469-7
{
	font-family: dosis-n2, sans-serif;
}

