.BLK-Text-15,.BLUE-TITLE-REG-15
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Burgundy-Header-Bold-20,.Process-bold
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.CONTACT-BLUE-PT18
{
	font-family: dosis-n3, sans-serif;
}

#u19374-4
{
	font-family: dosis-n3, sans-serif;
}

#u19375-4
{
	font-family: dosis-n3, sans-serif;
}

#u19376-4
{
	font-family: dosis-n3, sans-serif;
}

#u19377-4
{
	font-family: dosis-n3, sans-serif;
}

#u19378-4
{
	font-family: dosis-n3, sans-serif;
}

#u19379-4
{
	font-family: dosis-n3, sans-serif;
}

#u17798-10
{
	font-family: dosis-n3, sans-serif;
}

#u14673-6,#u17798-14,#u18440-7
{
	font-family: dosis-n2, sans-serif;
}

