.BLK-Text-15,.BLUE-TITLE-REG-15
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Burgundy-Header-Bold-20,.Process-bold
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.CONTACT-BLUE-PT18
{
	font-family: dosis-n3, sans-serif;
}

#u19380-4
{
	font-family: dosis-n3, sans-serif;
}

#u19381-4
{
	font-family: dosis-n3, sans-serif;
}

#u19382-4
{
	font-family: dosis-n3, sans-serif;
}

#u19383-4
{
	font-family: dosis-n3, sans-serif;
}

#u19384-4
{
	font-family: dosis-n3, sans-serif;
}

#u19385-4
{
	font-family: dosis-n3, sans-serif;
}

#u12527-4,#u18701-4,#u14947-4,#u18700-4,#u17398-7,#u18314-4
{
	font-family: dosis-n2, sans-serif;
}

#u19058-5
{
	font-family: dosis-n6, sans-serif;
}

#u19060-4
{
	font-family: dosis-n2, sans-serif;
}

#u19061-4
{
	font-family: dosis-n3, sans-serif;
}

#u19062-4
{
	font-family: dosis-n3, sans-serif;
}

#u19063-4
{
	font-family: dosis-n2, sans-serif;
}

