.BLK-Text-15,.BLUE-TITLE-REG-15
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Burgundy-Header-Bold-20,.Process-bold
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.CONTACT-BLUE-PT18
{
	font-family: dosis-n3, sans-serif;
}

#u19380-4
{
	font-family: dosis-n3, sans-serif;
}

#u19381-4
{
	font-family: dosis-n3, sans-serif;
}

#u19382-4
{
	font-family: dosis-n3, sans-serif;
}

#u19383-4
{
	font-family: dosis-n3, sans-serif;
}

#u19384-4
{
	font-family: dosis-n3, sans-serif;
}

#u19385-4
{
	font-family: dosis-n3, sans-serif;
}

#u12507-8
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u12508-4.MuseLinkActive p,#u12508-4.MuseLinkActive span
{
	font-family: dosis-n5, sans-serif;
}

#u12508-4
{
	font-family: dosis-n4, sans-serif;
}

#u12509-4,#u12510-4
{
	font-family: dosis-n4, sans-serif;
}

#u13908-4
{
	font-family: dosis-n3, sans-serif;
}

#u13407-6,#u18564-4,#u17459-7
{
	font-family: dosis-n2, sans-serif;
}

