.BLK-Text-15,.BLUE-TITLE-REG-15
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Burgundy-Header-Bold-20,.Process-bold
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.CONTACT-BLUE-PT18
{
	font-family: dosis-n3, sans-serif;
}

#u19374-4
{
	font-family: dosis-n3, sans-serif;
}

#u19375-4
{
	font-family: dosis-n3, sans-serif;
}

#u19376-4
{
	font-family: dosis-n3, sans-serif;
}

#u19377-4
{
	font-family: dosis-n3, sans-serif;
}

#u19378-4
{
	font-family: dosis-n3, sans-serif;
}

#u19379-4
{
	font-family: dosis-n3, sans-serif;
}

#u17577-7,#u14624-6,#u17801-8
{
	font-family: dosis-n2, sans-serif;
}

#u17801-4
{
	font-family: dosis-n3, sans-serif;
}

