.BLK-Text-15,.BLUE-TITLE-REG-15
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Burgundy-Header-Bold-20,.Process-bold
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.CONTACT-BLUE-PT18
{
	font-family: dosis-n3, sans-serif;
}

#u19392-4
{
	font-family: dosis-n3, sans-serif;
}

#u19393-4
{
	font-family: dosis-n3, sans-serif;
}

#u19394-4
{
	font-family: dosis-n3, sans-serif;
}

#u19395-4
{
	font-family: dosis-n3, sans-serif;
}

#u19396-4
{
	font-family: dosis-n3, sans-serif;
}

#u19397-4
{
	font-family: dosis-n3, sans-serif;
}

#u10983-4
{
	font-family: dosis-n4, sans-serif;
}

#u10987-2,#u10987-7
{
	font-family: dosis-n3, sans-serif;
}

#u10987-4,#u10987-5,#u10987-9,#u10987-10,#u10987-12,#u10987-14,#u10987-15,#u10987-19,#u10987-21,#u10987-22,#u10987-28,#u10987-29
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u10988-4,#u13842,#u13843,#u17657-8
{
	font-family: dosis-n2, sans-serif;
}

