.BLK-Text-15,.BLUE-TITLE-REG-15
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Burgundy-Header-Bold-20,.Process-bold
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.CONTACT-BLUE-PT18
{
	font-family: dosis-n3, sans-serif;
}

#u19380-4
{
	font-family: dosis-n3, sans-serif;
}

#u19381-4
{
	font-family: dosis-n3, sans-serif;
}

#u19382-4
{
	font-family: dosis-n3, sans-serif;
}

#u19383-4
{
	font-family: dosis-n3, sans-serif;
}

#u19384-4
{
	font-family: dosis-n3, sans-serif;
}

#u19385-4
{
	font-family: dosis-n3, sans-serif;
}

#u13899-4
{
	font-family: dosis-n3, sans-serif;
}

#u18611-8,#u18634-8
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u18612-4,#u18613-4,#u18614-4,#u18635-4,#u18636-4,#u18637-4
{
	font-family: dosis-n4, sans-serif;
}

#u13384-6,#u18615-4,#u18638-4,#u18414-7
{
	font-family: dosis-n2, sans-serif;
}

