.BLK-Text-15,.BLUE-TITLE-REG-15
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Burgundy-Header-Bold-20,.Process-bold
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.CONTACT-BLUE-PT18
{
	font-family: dosis-n3, sans-serif;
}

#u19380-4
{
	font-family: dosis-n3, sans-serif;
}

#u19381-4
{
	font-family: dosis-n3, sans-serif;
}

#u19382-4
{
	font-family: dosis-n3, sans-serif;
}

#u19383-4
{
	font-family: dosis-n3, sans-serif;
}

#u19384-4
{
	font-family: dosis-n3, sans-serif;
}

#u19385-4
{
	font-family: dosis-n3, sans-serif;
}

#u17953-4,#u17975-4,#u17974-4,#u17969-4,#u17965-4,#u17970-4,#u17968-4,#u17972-4,#u17971-4,#u17976-4,#u17973-4,#u17967-4,#u17966-4
{
	font-family: dosis-n3, sans-serif;
}

#u18575-8
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u18578-4.MuseLinkActive p,#u18578-4.MuseLinkActive span
{
	font-family: dosis-n5, sans-serif;
}

#u18576-4,#u18577-4,#u18578-4
{
	font-family: dosis-n4, sans-serif;
}

#u13437-6,#u17519-7,#u18579-4
{
	font-family: dosis-n2, sans-serif;
}

