.BLK-Text-15,.BLUE-TITLE-REG-15
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Burgundy-Header-Bold-20,.Process-bold
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.CONTACT-BLUE-PT18
{
	font-family: dosis-n3, sans-serif;
}

#u19380-4
{
	font-family: dosis-n3, sans-serif;
}

#u19381-4
{
	font-family: dosis-n3, sans-serif;
}

#u19382-4
{
	font-family: dosis-n3, sans-serif;
}

#u19383-4
{
	font-family: dosis-n3, sans-serif;
}

#u19384-4
{
	font-family: dosis-n3, sans-serif;
}

#u19385-4
{
	font-family: dosis-n3, sans-serif;
}

#u13904-4
{
	font-family: dosis-n3, sans-serif;
}

#u18580-8
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u18581-4,#u18582-4,#u18583-4
{
	font-family: dosis-n4, sans-serif;
}

#u13439-6,#u17529-7,#u18584-4
{
	font-family: dosis-n2, sans-serif;
}

