.BLK-Text-15,.BLUE-TITLE-REG-15
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Burgundy-Header-Bold-20,.Process-bold
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.CONTACT-BLUE-PT18
{
	font-family: dosis-n3, sans-serif;
}

#u19380-4
{
	font-family: dosis-n3, sans-serif;
}

#u19381-4
{
	font-family: dosis-n3, sans-serif;
}

#u19382-4
{
	font-family: dosis-n3, sans-serif;
}

#u19383-4
{
	font-family: dosis-n3, sans-serif;
}

#u19384-4
{
	font-family: dosis-n3, sans-serif;
}

#u19385-4
{
	font-family: dosis-n3, sans-serif;
}

#u18302-4
{
	font-family: dosis-n3, sans-serif;
}

#u18565-8
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u18566-4,#u18567-4,#u18568-4
{
	font-family: dosis-n4, sans-serif;
}

#u13435-6,#u17499-7,#u18569-4
{
	font-family: dosis-n2, sans-serif;
}

