.BLK-Text-15,.BLUE-TITLE-REG-15
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Burgundy-Header-Bold-20,.Process-bold
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.CONTACT-BLUE-PT18
{
	font-family: dosis-n3, sans-serif;
}

#u19386-4
{
	font-family: dosis-n3, sans-serif;
}

#u19387-4
{
	font-family: dosis-n3, sans-serif;
}

#u19388-4
{
	font-family: dosis-n3, sans-serif;
}

#u19389-4
{
	font-family: dosis-n3, sans-serif;
}

#u19390-4
{
	font-family: dosis-n3, sans-serif;
}

#u19391-4
{
	font-family: dosis-n3, sans-serif;
}

#u12914.PamphletThumbSelected #u12915-4 p,#u12904.PamphletThumbSelected #u12905-4 p,#u12910.PamphletThumbSelected #u12911-4 p,#u12910.PamphletThumbSelected #u12911-4 span,#u14049.PamphletThumbSelected #u14053-4 p,#u12922.PamphletThumbSelected #u12923-4 p,#u2707-2,#u2707-4,#u2707-7,#u12895-4,#u12895-5,#u12895-7,#u12886-4,#u12884-4,#u12884-5,#u12884-7,#u12890-4,#u12890-6,#u12890-7,#u12890-8,#u14055-6,#u14055-8,#u14055-10,#u14055-12,#u14055-13,#u14055-15,#u14055-17,#u14055-19,#u14055-21,#u14055-23,#u14055-25,#u14055-26,#u14055-28,#u14055-30,#u12915-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u12905-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u12911-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u12923-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u14053-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u2710-4,#u13860-4
{
	font-family: dosis-n3, sans-serif;
}

#u9579-4,#u12895-2,#u12886-2,#u12884-2,#u12890-2,#u14055-4,#u17637-7
{
	font-family: dosis-n2, sans-serif;
}

