#u16352
{
	background: -webkit-gradient(linear, left center, right center, from(rgba(209, 210, 212, 0)),color-stop(100%, #D1D2D4));
	background: -webkit-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -moz-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -ms-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -o-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: linear-gradient(to right,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00D1D2D4, endColorstr=#FFD1D2D4, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00D1D2D4', endColorstr='#FFD1D2D4', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u18112
{
	background: -webkit-gradient(linear, left center, right center, from(rgba(72, 0, 36, 0)),color-stop(100%, #480024));
	background: -webkit-linear-gradient(left,rgba(72, 0, 36, 0) ,#480024 100%);
	background: -moz-linear-gradient(left,rgba(72, 0, 36, 0) ,#480024 100%);
	background: -ms-linear-gradient(left,rgba(72, 0, 36, 0) ,#480024 100%);
	background: -o-linear-gradient(left,rgba(72, 0, 36, 0) ,#480024 100%);
	background: linear-gradient(to right,rgba(72, 0, 36, 0) ,#480024 100%);
	filter: alpha(opacity=70) progid:DXImageTransform.Microsoft.gradient(startColorstr=#00480024, endColorstr=#FF480024, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.gradient(startColorstr='#00480024', endColorstr='#FF480024', GradientType=1)";
	border-style: none;
	border-color: transparent;
	opacity: 0.7;
	position: relative;
}

#u14205
{
	border-color: #000000;
	background-color: #FFFAFA;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-transform: rotate(44deg);
	-moz-transform: rotate(44deg);
	-ms-transform: rotate(44deg);
	-o-transform: rotate(44deg);
	transform: rotate(44deg);
	position: relative;
}

#u16353
{
	background: -webkit-gradient(linear, left center, right center, from(rgba(209, 210, 212, 0)),color-stop(100%, #D1D2D4));
	background: -webkit-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -moz-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -ms-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -o-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: linear-gradient(to right,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00D1D2D4, endColorstr=#FFD1D2D4, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00D1D2D4', endColorstr='#FFD1D2D4', GradientType=1)";
	border-style: none;
	border-color: transparent;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	position: relative;
}

#u18113
{
	background: -webkit-gradient(linear, left center, right center, from(#480024),color-stop(100%, rgba(72, 0, 36, 0)));
	background: -webkit-linear-gradient(left,#480024 ,rgba(72, 0, 36, 0) 100%);
	background: -moz-linear-gradient(left,#480024 ,rgba(72, 0, 36, 0) 100%);
	background: -ms-linear-gradient(left,#480024 ,rgba(72, 0, 36, 0) 100%);
	background: -o-linear-gradient(left,#480024 ,rgba(72, 0, 36, 0) 100%);
	background: linear-gradient(to right,#480024 ,rgba(72, 0, 36, 0) 100%);
	filter: alpha(opacity=70) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF480024, endColorstr=#00480024, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF480024', endColorstr='#00480024', GradientType=1)";
	border-style: none;
	border-color: transparent;
	opacity: 0.7;
	position: relative;
}

#u18350,#u14224,#u14201,#u19328
{
	position: relative;
}

#u19374-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19374-4:hover
{
	background-color: transparent;
}

#u19374-4.MuseLinkActive
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u19374-4:hover p
{
	color: #1B75BB;
	visibility: inherit;
}

#u19375-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19375-4:hover p
{
	color: #1B75BB;
	visibility: inherit;
}

#u19376-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19376-4:hover p
{
	color: #1B75BB;
	visibility: inherit;
}

#u19377-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19377-4:hover p
{
	color: #1B75BB;
	visibility: inherit;
}

#u19378-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19378-4:hover p
{
	color: #1B75BB;
	visibility: inherit;
}

#u19379-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19379-4:hover p
{
	color: #1B75BB;
	visibility: inherit;
}

#u19374-4.MuseLinkActive p,#u19375-4.MuseLinkActive p,#u19376-4.MuseLinkActive p,#u19377-4.MuseLinkActive p,#u19378-4.MuseLinkActive p,#u19379-4.MuseLinkActive p
{
	color: #939495;
	visibility: inherit;
}

