#u12988
{
	border-color: #000000;
	background-color: #FFFAFA;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-transform: rotate(44deg);
	-moz-transform: rotate(44deg);
	-ms-transform: rotate(44deg);
	-o-transform: rotate(44deg);
	transform: rotate(44deg);
	position: relative;
}

#u12990
{
	background: -webkit-gradient(linear, left center, right center, from(rgba(255, 255, 255, 0)),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,rgba(255, 255, 255, 0) ,#FFFFFF 100%);
	background: -moz-linear-gradient(left,rgba(255, 255, 255, 0) ,#FFFFFF 100%);
	background: -ms-linear-gradient(left,rgba(255, 255, 255, 0) ,#FFFFFF 100%);
	background: -o-linear-gradient(left,rgba(255, 255, 255, 0) ,#FFFFFF 100%);
	background: linear-gradient(to right,rgba(255, 255, 255, 0) ,#FFFFFF 100%);
	filter: alpha(opacity=70) progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#FFFFFFFF', GradientType=1)";
	border-style: none;
	border-color: transparent;
	opacity: 0.7;
	position: relative;
}

#u12992
{
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(left,#FFFFFF ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(left,#FFFFFF ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(left,#FFFFFF ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(left,#FFFFFF ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to right,#FFFFFF ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=70) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#00FFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#00FFFFFF', GradientType=1)";
	border-style: none;
	border-color: transparent;
	opacity: 0.7;
	position: relative;
}

#u12994
{
	background: -webkit-gradient(linear, left center, right center, from(rgba(209, 210, 212, 0)),color-stop(100%, #D1D2D4));
	background: -webkit-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -moz-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -ms-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -o-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: linear-gradient(to right,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00D1D2D4, endColorstr=#FFD1D2D4, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00D1D2D4', endColorstr='#FFD1D2D4', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u12995
{
	background: -webkit-gradient(linear, left center, right center, from(rgba(209, 210, 212, 0)),color-stop(100%, #D1D2D4));
	background: -webkit-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -moz-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -ms-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -o-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: linear-gradient(to right,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00D1D2D4, endColorstr=#FFD1D2D4, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00D1D2D4', endColorstr='#FFD1D2D4', GradientType=1)";
	border-style: none;
	border-color: transparent;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	position: relative;
}

#u18108
{
	background: -webkit-gradient(linear, left center, right center, from(rgba(240, 90, 40, 0)),color-stop(100%, #F05A28));
	background: -webkit-linear-gradient(left,rgba(240, 90, 40, 0) ,#F05A28 100%);
	background: -moz-linear-gradient(left,rgba(240, 90, 40, 0) ,#F05A28 100%);
	background: -ms-linear-gradient(left,rgba(240, 90, 40, 0) ,#F05A28 100%);
	background: -o-linear-gradient(left,rgba(240, 90, 40, 0) ,#F05A28 100%);
	background: linear-gradient(to right,rgba(240, 90, 40, 0) ,#F05A28 100%);
	filter: alpha(opacity=70) progid:DXImageTransform.Microsoft.gradient(startColorstr=#00F05A28, endColorstr=#FFF05A28, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.gradient(startColorstr='#00F05A28', endColorstr='#FFF05A28', GradientType=1)";
	border-style: none;
	border-color: transparent;
	opacity: 0.7;
	position: relative;
}

#u18109
{
	background: -webkit-gradient(linear, left center, right center, from(#F05A28),color-stop(100%, rgba(240, 90, 40, 0)));
	background: -webkit-linear-gradient(left,#F05A28 ,rgba(240, 90, 40, 0) 100%);
	background: -moz-linear-gradient(left,#F05A28 ,rgba(240, 90, 40, 0) 100%);
	background: -ms-linear-gradient(left,#F05A28 ,rgba(240, 90, 40, 0) 100%);
	background: -o-linear-gradient(left,#F05A28 ,rgba(240, 90, 40, 0) 100%);
	background: linear-gradient(to right,#F05A28 ,rgba(240, 90, 40, 0) 100%);
	filter: alpha(opacity=70) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF05A28, endColorstr=#00F05A28, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF05A28', endColorstr='#00F05A28', GradientType=1)";
	border-style: none;
	border-color: transparent;
	opacity: 0.7;
	position: relative;
}

#u18236,#u12962,#u12978,#u19334
{
	position: relative;
}

#u19392-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19392-4:hover
{
	background-color: transparent;
}

#u19392-4.MuseLinkActive
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u19392-4:hover p
{
	color: #1B75BB;
	visibility: inherit;
}

#u19393-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19393-4:hover p
{
	color: #1B75BB;
	visibility: inherit;
}

#u19394-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19394-4:hover p
{
	color: #1B75BB;
	visibility: inherit;
}

#u19395-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19395-4:hover p
{
	color: #1B75BB;
	visibility: inherit;
}

#u19396-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19396-4:hover p
{
	color: #1B75BB;
	visibility: inherit;
}

#u19397-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19397-4:hover p
{
	color: #1B75BB;
	visibility: inherit;
}

#u19392-4.MuseLinkActive p,#u19393-4.MuseLinkActive p,#u19394-4.MuseLinkActive p,#u19395-4.MuseLinkActive p,#u19396-4.MuseLinkActive p,#u19397-4.MuseLinkActive p
{
	color: #939495;
	visibility: inherit;
}

