html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1153px;
	margin-left: auto;
	margin-right: auto;
}

#ppu16352
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -100px;
}

#pu16352
{
	width: 0.01px;
	position: relative;
}

#u16352
{
	z-index: 9;
	width: 18px;
	height: 1122px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 82px;
}

#u18112
{
	z-index: 11;
	width: 100px;
	height: 100px;
	margin-right: -10000px;
}

#u18131
{
	z-index: 165;
	width: 18px;
	height: 32px;
	background: -webkit-gradient(linear, left center, right center, from(rgba(209, 210, 212, 0)),color-stop(100%, #D1D2D4));
	background: -webkit-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -moz-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -ms-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -o-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: linear-gradient(to right,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00D1D2D4, endColorstr=#FFD1D2D4, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00D1D2D4', endColorstr='#FFD1D2D4', GradientType=1)";
	border-style: none;
	border-color: transparent;
	margin-left: 82px;
	position: relative;
}

#pu18350
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u18350
{
	z-index: 2;
	width: 1001px;
	margin-right: -10000px;
	margin-top: 106px;
}

#u18350_img
{
	padding-bottom: 6px;
}

#u14224
{
	z-index: 4;
	width: 1000px;
	margin-right: -10000px;
}

#u14201
{
	z-index: 6;
	width: 151px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 94px;
}

#u14205
{
	z-index: 8;
	width: 80px;
	height: 84px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 130px;
}

#u16353
{
	z-index: 10;
	width: 18px;
	height: 1123px;
	margin-right: -10000px;
	left: 1000px;
}

#u18113
{
	z-index: 12;
	width: 99px;
	height: 100px;
	margin-right: -10000px;
	left: 1000px;
}

#u19328
{
	z-index: 13;
	width: 100px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 203px;
}

#u19374-4
{
	z-index: 15;
	width: 45px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 403px;
}

#u19374-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 70px -10000px 0px 0px;
}

#u19375-4
{
	z-index: 19;
	width: 49px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 485px;
}

#u19374-4.MuseLinkActive,#u19375-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 70px -10000px 0px 0px;
}

#u19376-4
{
	z-index: 23;
	width: 57px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 569px;
}

#u19375-4.MuseLinkActive,#u19376-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 70px -10000px 0px 0px;
}

#u19377-4
{
	z-index: 27;
	width: 61px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 661px;
}

#u19376-4.MuseLinkActive,#u19377-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 70px -10000px 0px 0px;
}

#u19378-4
{
	z-index: 31;
	width: 60px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 758px;
}

#u19377-4.MuseLinkActive,#u19378-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 70px -10000px 0px 0px;
}

#u19379-4
{
	z-index: 35;
	width: 50px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 852px;
}

#u19378-4.MuseLinkActive,#u19379-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 70px -10000px 0px 0px;
}

#u19379-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 70px -10000px 0px 0px;
}

#u17600
{
	z-index: 39;
	width: 85px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1049px;
	left: 915px;
}

#u17589
{
	z-index: 40;
	width: 1000px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1010px;
}

#u17591
{
	z-index: 42;
	width: 1000px;
	position: relative;
	margin-right: -10000px;
	margin-top: 741px;
}

#u17593-7
{
	z-index: 44;
	width: 323px;
	text-align: right;
	color: #7F7F7F;
	font-family: dosis, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 1125px;
	left: 592px;
}

#u17593-2
{
	color: #939495;
}

#u17594
{
	z-index: 51;
	width: 221px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1072px;
	left: 697px;
}

#u17594_img
{
	padding-left: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#u17596
{
	z-index: 53;
	width: 38px;
	height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 1074px;
	left: 745px;
}

#u17597
{
	z-index: 54;
	width: 38px;
	height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 1074px;
	left: 790px;
}

#u17598
{
	z-index: 55;
	width: 38px;
	height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 1074px;
	left: 835px;
}

#u17599
{
	z-index: 56;
	width: 38px;
	height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 1074px;
	left: 877px;
}

#u17596.MuseLinkActive,#u17597.MuseLinkActive,#u17598.MuseLinkActive,#u17599.MuseLinkActive
{
	margin: 1074px -10000px 0px 0px;
}

#u17601
{
	z-index: 57;
	width: 49px;
	height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1065px;
	left: 705px;
}

#u14640
{
	z-index: 58;
	width: 884px;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 61px;
}

#u14640_img
{
	padding-top: 1px;
	padding-right: 4px;
	padding-bottom: 1px;
}

#u14642-6
{
	z-index: 60;
	width: 571px;
	min-height: 54px;
	color: #8F4C71;
	font-size: 40px;
	font-family: dosis, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 113px;
}

#u14642-2,#u14642-3
{
	color: #C8C8C8;
}

#u14653
{
	z-index: 66;
	width: 862px;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 71px;
}

#slideshowu15648
{
	z-index: 68;
	width: 0.01px;
	height: 360px;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
	left: 78px;
}

#u15683
{
	position: absolute;
	width: 852px;
	height: 360px;
	background-color: transparent;
}

#u15683popup
{
	z-index: 69;
}

#u15688
{
	z-index: 70;
	width: 852px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17909
{
	z-index: 72;
	width: 852px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17895
{
	z-index: 74;
	width: 852px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u15688_clip,#u17909_clip,#u17895_clip
{
	overflow: hidden;
	width: 852px;
	height: 360px;
}

#u15688_img,#u17909_img,#u17895_img
{
	margin: 7px -6px 15px -8px;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u15919
{
	z-index: 76;
	width: 100px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 595px;
	left: 819px;
}

#u15920
{
	z-index: 77;
	width: 100px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 595px;
	left: 686px;
}

#u15921
{
	z-index: 78;
	width: 100px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 595px;
	left: 553px;
}

#u15922
{
	z-index: 79;
	width: 100px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 703px;
	left: 553px;
}

#u15923
{
	z-index: 80;
	width: 100px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 703px;
	left: 686px;
}

#u15924
{
	z-index: 81;
	width: 100px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 703px;
	left: 819px;
}

#u15925
{
	z-index: 82;
	width: 100px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 810px;
	left: 819px;
}

#u15926
{
	z-index: 83;
	width: 100px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 810px;
	left: 686px;
}

#u15927
{
	z-index: 84;
	width: 100px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 810px;
	left: 553px;
}

#pamphletu16978
{
	z-index: 85;
	width: 0.01px;
	height: 295px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 595px;
	left: 553px;
}

#u16982
{
	z-index: 86;
	width: 367px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u16985
{
	position: absolute;
	width: 103px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999;
	top: 2px;
	left: 2px;
}

#u16985:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #999999;
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u17097
{
	z-index: 88;
	width: 100px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u16985:hover #u17097
{
	width: 100px;
	min-height: 0px;
	margin: -3px -10000px 0px 0px;
}

#u16985:active #u17097
{
	width: 100px;
	min-height: 0px;
	margin: -3px -10000px 0px 0px;
}

#u16985.PamphletThumbSelected #u17097
{
	width: 100px;
	min-height: 0px;
	margin: -3px -10000px 0px 0px;
}

#u17055
{
	position: absolute;
	width: 98px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	top: 1px;
	left: 134px;
}

#u17101
{
	z-index: 91;
	width: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -2px;
}

#u17101_clip
{
	overflow: hidden;
	width: 100px;
	height: 80px;
}

#u17101_img
{
	margin: -39px -148px -89px -12px;
}

#u17062
{
	position: absolute;
	width: 98px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	top: 109px;
	left: 1px;
}

#u17109
{
	z-index: 94;
	width: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u17109_img
{
	margin: -58px -235px -135px -8px;
}

#u17067
{
	position: absolute;
	width: 98px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	top: 1px;
	left: 267px;
}

#u17105
{
	z-index: 97;
	width: 99px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u17105_img
{
	margin: -106px -250px -99px -10px;
}

#u17072
{
	position: absolute;
	width: 99px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	top: 108px;
	left: 133px;
}

#u17072:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	width: 101px;
	min-height: 2px;
	margin: 1px;
}

#u17113
{
	z-index: 100;
	width: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u17109_clip,#u17113_clip
{
	overflow: hidden;
	width: 100px;
	height: 79px;
}

#u17113_img
{
	margin: -70px -278px -168px -22px;
}

#u17077
{
	position: absolute;
	width: 98px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	top: 109px;
	left: 267px;
}

#u17117
{
	z-index: 103;
	width: 99px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -1px;
}

#u17117_img
{
	margin: -179px -309px -215px -153px;
}

#u17082
{
	position: absolute;
	width: 98px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	top: 216px;
	left: 1px;
}

#u17121
{
	z-index: 106;
	width: 99px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u17121_img
{
	margin: -86px -114px -95px -113px;
}

#u17087
{
	position: absolute;
	width: 98px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	top: 216px;
	left: 134px;
}

#u17055:hover,#u17062:hover,#u17067:hover,#u17077:hover,#u17082:hover,#u17087:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	width: 100px;
	min-height: 2px;
	margin: 1px;
}

#u17125
{
	z-index: 109;
	width: 99px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u17125_img
{
	margin: -120px -159px -128px -152px;
}

#u17092
{
	position: absolute;
	width: 100px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999;
	padding-bottom: 1px;
	top: 217px;
	left: 268px;
}

#u17092:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #999999;
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u17129
{
	z-index: 112;
	width: 99px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u17105_clip,#u17117_clip,#u17121_clip,#u17125_clip,#u17129_clip
{
	overflow: hidden;
	width: 99px;
	height: 79px;
}

#u17129_img
{
	margin: -68px -113px -69px -59px;
}

#u16986
{
	position: absolute;
	width: 864px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 44px;
	top: -313px;
	left: -484px;
	background: #FFFFFF url("../images/13wpbk2-u4865-fr-u16986-fr.png") repeat left top;
	background-color: rgba(255, 255, 255, 0.9);
}

#u16986popup
{
	z-index: 114;
}

#u16990
{
	z-index: 115;
	width: 820px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17010
{
	z-index: 116;
	width: 621px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 88px;
}

#u17056
{
	z-index: 118;
	width: 820px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17015
{
	z-index: 119;
	width: 621px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 93px;
}

#u17063
{
	z-index: 121;
	width: 820px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17020
{
	z-index: 122;
	width: 621px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 98px;
}

#u17020_clip
{
	overflow: hidden;
	width: 621px;
	height: 494px;
}

#u17020_img
{
	margin-left: 2px;
	margin-right: -2px;
}

#u17068
{
	z-index: 124;
	width: 820px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17025
{
	z-index: 125;
	width: 621px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 91px;
}

#u17073
{
	z-index: 127;
	width: 820px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17030
{
	z-index: 128;
	width: 621px;
	position: relative;
	margin-right: -10000px;
	left: 101px;
}

#u17078
{
	z-index: 130;
	width: 820px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17035
{
	z-index: 131;
	width: 621px;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u17083
{
	z-index: 133;
	width: 820px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17040
{
	z-index: 134;
	width: 621px;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u17088
{
	z-index: 136;
	width: 820px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17045
{
	z-index: 137;
	width: 621px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 89px;
}

#u17093
{
	z-index: 139;
	width: 820px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17050
{
	z-index: 140;
	width: 621px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 96px;
}

#u16979
{
	position: absolute;
	width: 27px;
	top: -273px;
	left: -519px;
}

#u16981
{
	z-index: 143;
	width: 25px;
	height: 25px;
	position: relative;
}

.ie #u16981
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u16980-4
{
	z-index: 144;
	width: 19px;
	text-align: center;
	color: #999999;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 8px;
	margin-top: 197px;
	position: relative;
}

#u16996
{
	position: absolute;
	width: 40px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 224px;
	top: -276px;
	left: 380px;
}

#u16996:active
{
	background-color: transparent;
	margin: 0px;
}

#u16997-4
{
	z-index: 149;
	width: 19px;
	min-height: 9px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #999999;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 11px;
}

#u16980,#u16997
{
	font-size: 16px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u17799-10
{
	z-index: 154;
	width: 302px;
	min-height: 296px;
	color: #480024;
	font-size: 15px;
	line-height: 1.75;
	font-family: dosis, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 619px;
	left: 209px;
}

#u17799-6
{
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#u17809
{
	z-index: 164;
	width: 84px;
	height: 88px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 126px;
}

#u18132
{
	z-index: 166;
	width: 18px;
	height: 32px;
	background: -webkit-gradient(linear, left center, right center, from(rgba(209, 210, 212, 0)),color-stop(100%, #D1D2D4));
	background: -webkit-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -moz-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -ms-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: -o-linear-gradient(left,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	background: linear-gradient(to right,rgba(209, 210, 212, 0) ,#D1D2D4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00D1D2D4, endColorstr=#FFD1D2D4, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00D1D2D4', endColorstr='#FFD1D2D4', GradientType=1)";
	border-style: none;
	border-color: transparent;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	position: relative;
	margin-right: -10000px;
	margin-top: 1123px;
	left: 1000px;
}

#u17785
{
	z-index: 153;
	display: block;
	vertical-align: top;
	position: relative;
	width: 1002px;
	margin-right: -10000px;
	margin-top: 1151px;
	left: -1px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1150px;
}

